*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --nav-bg-color: #111;
  --banner-button-hover-color: black;
  --banner-button-hover-bg-color: white;
  --banner-color: white;
  --banner-fade-top-color: rgba(37, 37, 37, .61);
  --banner-fade-bottom-color: #111;
}

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; /* 10px %  = 10/16 px */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem; /* 16px = 1.6 * root font-size */
}

